doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='path/to/font-awesome/css/font-awesome.min.css')
  body
    block content
