html    
    head 
        title= name     
    body    
        form(method='post')
            div
                | Name:
                input(type='text' name='name1')
            div
                | Age:
                input(type='text' name='age')
            div
                | Gender:
                input(type='text' name='Gender')
            div
                | Email:
                input(type='email' name='EmailID')
                input(type='submit' name='submit' value='submit')
            